%a{:href => "/database/" + File.join(@db.name, @collection.name)}
  Back to #{@collection.name}
  
%form{:method => "post", :action => "/add/document/" + File.join(@db.name, @collection.name)}
  - if @collection.find_one
    - @collection.find_one.each_key do |key|
      - unless key == "_id"
        %label{:for => "document[#{key}]"} #{key}
        %input{:type => "text", :name => "document[#{key}]"}
    %input{:type => "submit", :value => "Submit"}
  - else
    %table#rows
      %tr
        %th Field Name
        %th Value
    %a{:href=>"#", :id=>"newfield"} + Field
    %input{:type=>'submit', :value=>'Add'}

    :javascript
      var i = 1;
      $('#newfield').click(function() {
        var r = $('<tr><td><input class="key" /></td><td><input class="value" name="v_' + i + '" /></td><td><a href="#">Remove</a></td></tr>')
          .insertAfter('#rows tr:last-child');

          r.children('td').children('a')
          .click(function() {
            $(this).parents('tr').remove();
          });

          r.children('td').children('.key').change(function() {
            r.children('td').children('.value').attr('name', $(this).attr('value'));
          });
      });
      $('tr td a').click(function() {
        $(this).parents('tr').remove();
      });
      $('#newfield').click();
