%h2
  = @db.name

%p
  %a{:href => "/drop/database/" + @db.name} Drop #{@db.name}

%ul
  - @db.db.collections.each do |collection|
    %li
      %a{:href => "/database/" + File.join(collection.db.name, collection.name)}
        = collection.name

%form{:method => "post", :action => "/add/collection/" + @db.name}
  %fieldset{:style => "border:1px solid;"}
    %legend
      New collection:
    %input{:name => "collname"}
    %input{:type => "submit", :value => "create"}