- @databases.each do |db|
  %h2
    %a{:href => "/database/" + db.name}
      = db.name

  %ul
    - db.db.collections.each do |collection|
      %li
        %a{:href => "/database/" + File.join(collection.db.name, collection.name), :class => (collection.name.include? "system.")?"meta":""}
          = collection.name
