- @databases.each do |db|
  %h2
    %a{:href => "/database/" + db.name}
      = db.name   
    %a.delete{:href => "/drop/database/" + db.name}
      %img{:src=>"/delete.png"}

  %ul
    - db.db.collections.each do |collection|
      %li
        %a{:href => "/database/" + File.join(collection.db.name, collection.name), :class => (collection.name.include? "system.")?"meta":""}
          = collection.name

%form{:method => "post", :action => "/add/database"}
  %fieldset{:style => "border:1px solid;"}
    %legend
      New database:
    %input{:name => "dbname"}
    %input{:type => "submit", :value => "create"}

:javascript
  $('a.delete').click(function() { return confirm("Are you sure you wish to delete this database?"); });